<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>project</title>
</head>
<body>
	<div class="container">
	<h1>welcome to the voice based services application</h1>
	</div>
	<br><br>
	<div class="container">
		<ul class="list-group">
			{% for dt in text %}
				<li class="list-group-item">
					<h4>Name : {{dt.name}}</h4>
					<p>Address : {{dt.address}}</p>
					<p>Rating : {{dt.rating}}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>